body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mybtn{
    background-color: aqua;
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 200px;
    transition: 0.3s;
    border-width: 10px;;
}
.mylabels{
    font-size: 3em;
    margin: 30px;
}
#mybtn:hover{
    background-color: blue;
    cursor: pointer;
}
